@use "./base/base";
@use "./base/reset";
@use "./global" as *;

// header
.header{
  width: 100%;
  // height: 95px;
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  background-color: transparent;
}

.header__inner{
  height: inherit;
  display: flex;
  align-items: center;
  padding: 25px 20px 23.5px;
  z-index: 1000;
  position: relative;
  border-bottom: 1px solid $beige;
  @include mq("md"){
    padding-top: 19px;
    padding-left: 15px;
    border-bottom: none;
  }
}

.site__title{
  z-index: 1000;
  width: 171px;
  @include mq("md"){
    width: 132px;
  }
}

.header__nav{
  z-index: 1000;
  height: inherit;
  width: 251px;
  margin: 0 auto;
}

.header__lists{
  height: inherit;
  display: flex;
  align-items: center;
  height: inherit;
}

.header__list{
  height: inherit;
}

.header__list:nth-child(1){
  margin-right: 54px;
}

.header__list:nth-child(2){
  margin-right: 46px;
}

.header__link{
  height: inherit;
  display: flex;
  align-items: center;
  font-weight: $medium;
  color: $beige;
}

.header__button{
  z-index: 1000;
  display: inline-block;
  width: 121px;
  border: 1px solid $beige;
  border-radius: 3px;
  padding: 10px 28px 10px 30px;
  color: $beige;
  transition: all .3s;
}

.header__button:hover{
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
}

.header.change-color{
  background-color: $black4;
  transition: 0.3s;
}

// ハンバーガー

.hamburger{
  position: fixed;
  z-index: 9999;
  top: 30px;
  right: 15px;
  width: 25px;
  height: 16px;
  cursor: pointer;
  @include mq("md"){
    top: 21px;
  }
}

.hamburger.is-active{
  right: 20px;
}

.hamburger span{
  position: absolute;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 2px;
  transition: transform 0.3s;
  background-color: $beige;
}

.hamburger span:first-child{
  top: 0;
}
.hamburger span:nth-child(2){
  top: 8px;
  transition: opacity 0.3s;
}
.hamburger span:nth-child(3){
  top: 16px;
}


.hamburger.is-active span:first-child{
  top: 15px;
  transform: rotate(-45deg);
}
.hamburger.is-active span:nth-child(2){
  opacity: 0;
}
.hamburger.is-active span:nth-child(3){
  top: 15px;
  transform: rotate(45deg);
}

// ドロワー

.drawer-menu{
  position: absolute;
  z-index: 5000;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: $black4, $alpha: 0.85);
}

.drawer-menu__inner{
  display: flex;
  // align-items: center;
  // flex-direction: column;
  width: 100%;
  height: inherit;
  padding: 155px 89px 0 88px;
}

.drawer-menu__items{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 198px;
}

.drawer-menu__item{
  display: flex;
  width: 100%;
}
.drawer-menu__item:not(:first-child){
  margin-top: 43px;
}

.drawer-menu__icon{
  width: 14px;
  height: 14px;
  padding-top: 12px;
  margin-left: 59px;
  margin-right: 9px;
}

.drawer-menu__link{
  color: $beige;
  font-size: 16px;
  line-height: 1.867;
  letter-spacing: 0.05em;
}

.drawer-menu__contact{
  display:inline-block;
  width: 100%;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-align: center;
  margin-top: 8px;
  padding: 9px 0 16px;
  color: $beige;
  border: 1px solid $beige;
  border-radius: 6px;
  position: relative;
  transition: all .3s;
}



// mv
.mv{
  height: 814px;
  // height: 100vh;
  position: relative;
  @include mq("md"){
    height: 665px;
    // top: -73px;
  }
}

.mv__inner{
  height: inherit;
  position: relative;
}

.swiper{
  height: inherit;
}

.swiper-img{
  width: 100%;
  height: inherit;
  object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
  width: 34px;
  height: 34px;
  background-color: rgba($color: $black4, $alpha: 0.7);
  margin: 29px 60px 0;
  @include mq("md"){
    display: none;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  position: absolute;
  top: 38%;
  left: 30%;
  width: 8px;
  height: 8px;
  content: "";
  transform: rotate(45deg);
  border-top: 1.5px solid $beige;
  border-right: 1.5px solid $beige;
  @include mq("md"){
    display: none;
  }
}

.swiper-button-prev::after {
  top: 40%;
  left: 46%;
  transform: rotate(-135deg);
}

.swiper-horizontal> .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 10px 23px;
  @include mq("md"){
    margin: 0 5px 15px;
  }
}

.swiper-pagination-bullet {
  width: 70px;
  height: 5px;
  opacity: 1;
  border-radius: 0;
  background-color: $black2;
  @include mq("md"){
    width: 40px;
    height: 2px;
  }
}

.swiper-pagination-bullet-active {
  background-color: $beige;
}

.mv__title{
  position: absolute;
  z-index: 1000;
  // top: 51.5%;
  top: 50%;
  left: 14.24%;
  @include mq("md"){
    top: 50.7%;
    left: 14.4%;
  }
}

.mv__title-main{
  font-size: 50px;
  letter-spacing: 0.04em;
  line-height: 1.111;
  font-weight: $medium;
  color: $beige;
  margin-bottom: 19px;
  @include mq("md"){
    font-size: 33px;
    letter-spacing: 0;
    margin-bottom: 14px;
  }
}

.mv__title-sub{
  font-size: 18px;
  letter-spacing: 0.1em;
  font-weight: $regular;
  color: $beige;
  @include mq("md"){
    font-size: 14px;
    text-align: center;
  }
}

// about
.about{
  padding: 76px 0 80px;
  background-color: $black3;
  // position: relative;
  @include mq("md"){
    padding: 55px 0 60px;
  }
}

.about__container{
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 71px;
  padding-left: 12.83%;
  color: $beige;
  font-family: "Noto Serif JP";
  // position: relative;
  @include mq("md"){
    // max-width: 240px;
    // margin: 0 auto;
    margin-top: 54px;
    padding-left: 0;
  }
}

.about__contents{
  display: flex;
  width: 100%;
  @include mq("md"){
    flex-direction: column-reverse;
    max-width: 375px;
    margin: 0 auto;
  }
}

.about__img{
  width: 378px;
  object-fit: contain;
  margin-right: 40px;
  @include mq("md"){
    width: 252px;
    margin-top: 33px;
    margin-right: 0;
    margin-left: 49px;
  }
}

.about__text{
  writing-mode: vertical-rl;
  margin-top: 32px;
  @include mq("md"){
    // margin-top: 0;
    // padding-right: 85px;
    margin: 0 auto;
    margin-top: 0.5px;
  }
}

.about__text-main{
  font-size: 22px;
  letter-spacing: 0.406em;
  line-height: 1.8;
  font-weight: $regular;
  margin-left: 9px;
  @include mq("md"){
    font-size: 14px;
    line-height: 2.1;
    letter-spacing: 0.3em;
    margin-left: 0;
    margin-right: 2px;
  }
}

.about__text-sub{
  letter-spacing: 1.29em;
    line-height: 2;
    margin-top: 5.4px;
    font-size: 14px;
  @include mq("md"){
    margin-top: 0;
    letter-spacing: 0.28em;
    line-height: 2.15;
  }
}

.about__text-secondary{
  // width: 600px;
  max-width: 600px;
  font-size: 16px;
  color: $beige;
  letter-spacing: 0.05em;
  line-height: 2;
  margin-top: -11.9%;
  margin-left: -5.3%;
  
  @include mq("md"){
      // width: 305px;
      max-width: 450px;
      font-size: 14px;
      line-height: 1.86;
      margin: -18% 15% 0;
      // margin-top: -26.5%;
      // margin-left: 5.9%;
      // margin-top: -91px;
      // margin-left: 20px;
    }
    @include mq("sp"){
      max-width: 305px;
      font-size: 14px;
      line-height: 1.86;
      margin-top: -26.5%;
      margin-left: 5.9%;
      margin: -26.5% 5.9% 0;
  }
}

.about__button{
  margin: 0 auto;
  width: 204px;
  margin-top: 36px;
  @include mq("md"){
    width: 173px;
    margin-top: 26px;
  }
}


// service
.service{
  background-color: $black4;
  padding: 76px 0 78px;
  @include mq("md"){
    padding: 55px 0 57px;
  }
}

.tab{
  margin-top:46px;
}

.tab__list{
  text-align: center;
  margin-bottom: 52px;
  @include mq("md"){
    margin-bottom: 44px;
  }
}

.tab__button{
  color: $beige;
  font-size: 16px;
  letter-spacing: 0.05em;
  cursor: pointer;
  position: relative;
  font-family: 'Noto Serif JP';
  @include mq("md"){
    font-size: 14px;
  }
}

.tab__button::before{
  content: "";
  position: absolute;
  width: 170px;
  height: 1px;
  background-color: $black6;
  bottom: -4px;
  left: 4px;
  @include mq("md"){
    width: 148px;
    bottom: -5px;
  }
}

.tab__button.is-active::before{
  background-color: $black5;
}
.tab__button-right{
  margin-left: 37px;
  @include mq("md"){
    margin-left: 25px;
  }
}

.tab__button-right::before{
  content: "";
  position: absolute;
  width: 137px;
  height: 1px;
  background-color: $black6;
  bottom: -4px;
  left: 4px;
  @include mq("md"){
    width: 119px;
    bottom: -5px;
  }
}

.tab__contents{
  width: 100%;
  max-width: 1030px;
  margin: 0 auto;
}

.tab__content{
  display: none;
}

.tab__content.is-active {
  display: block;
}

.cards{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  gap: 20px;
  @include mq("md"){
    flex-direction: column;
    max-width: 250px;
    margin: 0 auto;
    gap:38px;
  }
}

.cards__item{
  width: 33.333%;
  position: relative;
  box-shadow: 3px 3px 6px rgba($color: $black7, $alpha: 75%);
  @include mq("md"){
    width: 100%;
    min-width: 250px;
  }
}

.card__img-text{
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px 25px 5px 29px;
  background-color: $black4;
  color: $beige;
  font-size: 14px;
}

.card__text{
  color: $beige;
  padding: 15px 15px 22px;
  @include mq("md"){
    padding-top: 15px;
  }
}
.card__text-main{
  font-size: 16px;
  letter-spacing: 0.05em;
  font-family: "Noto Serif JP";
  margin-bottom: 7px;
  @include mq("md"){
    font-size: 14px;
    margin-bottom: 6px;
  }
}

.card__text-sub{
  font-size: 13px;
  letter-spacing: 0.05em;
}

// news
.news{
  background-color: $beige2;
  padding: 75px 0 54px;
  @include mq("md"){
    padding:56px 0 37px;
  }
}

.news__lists{
  width: 100%;
  max-width: 1030px;
  margin: 0 auto ;
  padding-top: 35px;
  font-family: "Noto Sans JP";
  @include mq("md"){
    max-width: 285px;
  }
}

.news__list{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 24px 0 26px;
  border-bottom: 1px solid $gray;
  @include mq("md"){
    padding: 19px 0 17px;
  }
}
.news__list:first-child{
  padding:  0 0 26px;
  @include mq("md"){
    padding:  0 0 17px;
  }
}

.news__list:last-child{
  border-bottom: none;
}

.news__list-date{
  font-size: 13px;
    letter-spacing: 0.03em;
    margin-top: 2px;
    @include mq("md"){
      letter-spacing: 0;
      margin-top: 4px;
    }
}

.news__list-bg{
  font-size: 10px;
  margin-left: 30px;
  padding: 6px 24px;
  margin-top: 3px;
  color: $white;
  background-color: $black2;
  @include mq("md"){
    padding: 4px 20px;
  }
}

.news__list-item{
  font-size: 15px;
  margin-top: 0px;
  margin-left: 30px;
  line-height: 2;
  @include mq("md"){
    font-size: 14px;
    margin-top: 18px;
    margin-left: 0;
  }
}

// Contact

.contact{
  background-color: $black3;
  background-image: url(/images/contact-img.png);
  background-position: 100% 0;
  background-repeat: no-repeat;
  height: 399px;
  // display: flex;
  // justify-content: space-between;
  @include mq("md"){
    background-image: url(/images/contact-sp-img.png);
    height: 314px;
  }
}

.contact__inner{
  width: 41.8%;
  padding-top: 76px;
  margin-left: 122px;
  @include mq("md"){
    width: 100%;
    margin: 0;
    padding: 56px 15px 0;
  }
}

.contact__content{
  width: 265px;
  margin-top: 59px;
  margin-left: 132px;
  @include mq("md"){
    width: 227px;
    margin-top: 47px;
    margin-left: 59px;
  }
}

.contact__text{
  font-size: 14px;
  letter-spacing: 0.05em;
  font-family: 'Noto Serif JP';
  color: $beige;
  margin-bottom: 16px;
  text-align: center;
  @include mq("md"){
    letter-spacing: 0;
  }
}


// footer

.footer{
  background-color: $black4;
  padding: 29px 0 31px;
  text-align: center;
  @include mq("md"){
    padding: 21px 0 18px;
  }
}

.footer__text{
  color: $beige;
  font-size: 13px;
  letter-spacing: 0.03em;
}







// 共通パーツ

.inner{
  width: 100%;
  max-width: 1250px;
  padding: 0 25px;
  margin: 0 auto;
  @include mq("md"){
    padding: 0 15px;
  }
}

.section-box{
  display: flex;
  align-items: center;
}

.section-box::after{
  content: "";
  border-top: 1px solid $beige;
  width: 100%;
  margin-top: 3px;
  margin-left: 24px;
  @include mq("md"){
    margin-top: 1px;
    margin-left: 12px;
  }
}
.section-box--reverse::after{
  border-top: 1px solid $black4;
  @include mq("md"){
    margin-top: 1px;
    margin-left: 12px;
  }
}

.section-logo{
  width: 23px;
  height: 23px;
  margin-top: 4px;
  margin-right: 10px;
  @include mq("md"){
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-top: 3px;
  }
}

.section-title{
  font-size: 34px;
  letter-spacing: 0.036em;
  color: $beige;
  font-weight: $regular;
  // font-family: 'Cormorant';
  @include mq("md"){
    font-size: 30px;
    letter-spacing: 0;
  }
}

.section-title--reverse{
  color: $black4;
}

.button{
  display:inline-block;
  width: 100%;
  font-size: 16px;
  text-align: center;
  padding: 16px;
  border: 1px solid $beige;
  border-radius: 6px;
  color: $beige;
  position: relative;
  transition: all .3s;
  @include mq("md"){
    font-size: 14px;
    padding: 13px;
  }
}

.button--arrow{
  display:inline-block;
  width: 100%;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-align: center;
  padding: 15px;
  border: 1px solid $beige;
  border-radius: 6px;
  color: $beige;
  position: relative;
  font-family: "Noto Serif JP";
  transition: all .3s;
  @include mq("md"){
    font-size: 14px;
    padding: 13px;
  }
}

.button--arrow::after{
  display: inline-block;
  content: "";
  border-top: 1px solid $beige;
  border-right: 1px solid $beige;
  width: 8px;
    height: 8px;
    position: absolute;
    top: 44%;
    right: 20px;
  transform: rotate(45deg);
}

.button:hover{
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
}
.button--arrow:hover{
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
}

.md-show{
  display: none;
  @include mq("md"){
    display: block;
  }
}

.md-none{
  @include mq("md"){
    display: none;
  }
}
.lg-show{
  display: none;
  @include mq("lg"){
    display: block;
  }
}

.lg-none{
  @include mq("lg"){
    display: none;
  }
}
