@use "sass:math";
// 色
$white: #fff;
$black: #000;
$red: #F93212;
$gray: #A4A4A0;
$gray2: #99958F;
$gray3: #000;
$black2: #332F27;
$black3: #272625;
$black4: #222;
$black5: #707070;
$black6:#2c2c2c;
$black7:#1D1D1D;
$beige: #F9F2E5;
$beige2: #BCB5A8;
